<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>

    <!-- Popper JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"
    ></script>

    <!-- Latest compiled JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    ></script>
  </head>
  <style>
    .scale{
      transform: scale(1.05) !important;
      transition: all ease-in 0.25s;
    }
  </style>
  <body>
    <div class="container-fluid padding">
      <h1 class="text-danger home" style="cursor: pointer;">Home Page</h1>
      <h4 class="jumbotron text-success">Wellcome {{username}}</h4>
      <div
        class="container-fluid padding d-flex flex-row justify-content-end align-items-center"
      >
        <div class="col-md-4">
          <form action="/search" class="form-inline" method="GET">

            <a href="/logout" class="btn btn-danger text-white mx-1">Logout</a>

            <input
              type="text"
              name="q"
              class="form-control"
              placeholder="nhap ten can tim"
            />
            <button class="btn btn-success m-1">tim kiem</button>
          </form>
        </div>
      </div>
      <div class="row">
        {{#each data}}
          <div class="col-md-4 my-2">
            <ul class="jumbotron user">
              <div class="alert alert-danger">{{this.username}}</div>
              <div class="alert alert-success">{{this.password}}</div>
            </ul>
          </div>
        {{/each}}
      </div>
      <p>{{active}}</p>
      <div>
        <ul class="pagination">
          {{#each totalPage}}
            <li class="page-item" ><a
                class="page-link"
                href="/home/page/{{this}}"
              >{{this}}</a></li>
          {{/each}}
        </ul>

      </div>
    </div>
  </body>
  <script>
    $(document).ready(()=>{
      $('.home').click(()=>{
        window.location.replace('/home')
      })
      $('.user').on({
        mouseover : function(){
          $(this).addClass('scale')
        },
        mouseout : function(){
          $(this).removeClass('scale')
        }
      })
    })
  </script>
</html>